**/*.local.js
**/*.local.json
**/*.log
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.env
.idea
.project
.strong-pm
/.nyc_output
/build
/bundle
/compiled
/coverage
/coverage.lcov
/node_modules
/reports
/temp
/translations/extractedMessages
/uploads
